
.git
node_modules
vendor
.env
.env.*
/storage/*.key
/storage/*.log
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/public/hot
/public/storage
npm-debug.log
yarn-error.log
/.idea
.vscode
/.gitlab-ci.yml
.github
